Killer_instagram/migrations/env.py
Killer_instagram/migrations/README
Killer_instagram/migrations/script.py.mako
Killer_instagram/migrations/__pycache__/env.cpython-310.pyc
Killer_instagram/migrations/versions/431bcb3c88c7_init.py
Killer_instagram/migrations/versions/__pycache__/431bcb3c88c7_init.cpython-310.pyc
Killer_instagram/postgres-data/pg_stat/db_0.stat
Killer_instagram/postgres-data/pg_stat/db_13481.stat
Killer_instagram/postgres-data/pg_stat/db_16384.stat
Killer_instagram/postgres-data/pg_stat/global.stat
Killer_instagram/.env
Killer_instagram/alembic.ini
Killer_instagram/test.db
Killer_instagram/poetry.lock
Killer_instagram/migrations
Killer_instagram/postgres-data